.main{
    display: flex;
    flex-direction: row;
}

.inner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
h1{
    color:royalblue;
}
.innerRow{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.row{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.text{
    font-size: 1.2rem;
    color:cornflowerblue;
    font-weight: bold;
}
.disc{
    background-color: khaki;
    border-radius: 2px;
    margin: 5%;
}
.column{
    margin-left: 30%;
}